# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Swap files
*.swp

# I dont want migrations
# but I need them it seems
#apina/data_api/migrations

# Others
.vscode/
log.html
output.xml
report.html
