# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Swap files
*.swp

# I dont want migrations
apina/data_api/migrations

# Others
.vscode/
test-zadani.txt
